<% layout("layouts/boilerplate") %>

<div class="row">
    <div class="col-6">
        <div class="card mb-3">
            <img src="<%= image.image %>" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= image.title%></h5>
              <p class="card-text"><%= image.description %></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">$<%= image.price %>/hour</li>
            </ul>
        </div>
          
    </div>
    <% if( currentUser && image.owner.equals(currentUser._id)) {%>
    <div class="card-body">
        <form class="d-inline" action="/images/<%=image._id%>?_method=DELETE" method="POST">
            <button class="btn btn-danger">
                Delete
            </button>
        </form>

    </div>
    <%} %>
</div>

